@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.game {
    height: 100vh;
}

body {
    font: 20px 'Poppins', sans-serif;
    background-color: #252934;
    height: 100vh;
    font-weight: 500;
    margin-bottom: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-info {
    margin-left: 20px;
    position: absolute;
    margin-top: 50%;
}

.status {
    color: #04c2c9;
    font-size: 30px;
}

.list {
    color: #04c2c9;
}

.title {
    color: #04c2c9;
    font-size: 50px;
    margin-bottom: 20px;
}
